# Introducci贸n a objetos
## Primeros objetos

La funci贸n que identifica el tipo de objeto es la funci贸n `type`

Las variables se escriben como sigue

In [5]:
num= 5

saludo = " Hola, mundo! "

print(num)

print(saludo)

5
 Hola, mundo!

In [6]:
type ( saludo)

str

In [7]:
type (num)

int

In [8]:
# El siguiente c贸digo verifica si num y saludo son objetos iguales o diferentes
# El resultado arroja un valor booleano
type (num) == type(saludo)

False

In [9]:
# Convierte un entero a flotante
float(num)

5.0

In [12]:
nums= str(num)

In [17]:
type(nums)== type(saludo)

True

In [23]:
# Vamos a mostrar los elementos de range(10)
for i in range (10):
  print(i)

0
1
2
3
4
5
6
7
8
9

Listas:
var=[]

In [29]:
lista_1=[1,"1", 1.0,[2,3]]

In [32]:
type(lista_1)

list

In [35]:
lista_2= [x for x in range (11)]

In [36]:
print(lista_2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]