# Quiz 1

1.- Crea un diccionario que contenga 3 llaves que sean de tipo string y cuyos valores sean una lista que contenga 5 valores (3 numéricos y 2 flotantes).

2.- A partir del diccionario anterior, muestra a sus ítems. ¿Qué tipo de objeto se obtiene?

3.- Crea un panel de datos usando tu diccionario. Realiza tres segregaciones distintas.

4.- Realiza un breve análisis descriptivo de tu panel de datos. Explica los valores que obtienes.

5.- Realiza dos filtros de búsqueda sobre tu panel de datos.

In [ ]:
# Pregunta 1

# Se creo un diccionario llamado años

import pandas as pd

años={"Año1":[5,10.5,15,20.5,25,], "Año2": [2,4.5,6,8.5,10],"Año3": [3,6.5,9,12.5,15]}

In [ ]:
# Pregunta 2

# Se creo una variable llamada añosdicc que nos sirvio para poder mostrar los datos que estan en el diccionario anteriormente creado, y nos arroja los valores string

añosdicc= años.items()
print(añosdicc)

dict_items([('Año1', [5, 10.5, 15, 20.5, 25]), ('Año2', [2, 4.5, 6, 8.5, 10]), ('Año3', [3, 6.5, 9, 12.5, 15])])

In [ ]:
# Pregunta 3

# Se creo la funcion paneldatos para poder acomodar nuestros datos en forma de panel, a su vez hicimos 3 segregaciones usando los datos del diccionario, esto con la finalidad de separar los datos en diferentes paneles

import pandas as pd
paneldatos = pd.DataFrame(años)

s1 = paneldatos ["Año1"]
s2 = paneldatos[["Año2", "Año3"]]
s3 = paneldatos.iloc[1:4, 0:2]

print("\Ej 1:\n", s1)
print("\EJ 2:\n", s2)
print("\EJ 3:\n", s3)

\Ej 1:
 0     5.0
1    10.5
2    15.0
3    20.5
4    25.0
Name: Año1, dtype: float64
\EJ 2:
    Año2  Año3
0   2.0   3.0
1   4.5   6.5
2   6.0   9.0
3   8.5  12.5
4  10.0  15.0
\EJ 3:
    Año1  Año2
1  10.5   4.5
2  15.0   6.0
3  20.5   8.5

In [ ]:
# Pregunta 4

# Se creo una funcion de analisis para poder observar de manera mas correcta la informacion de los datos de nuestro diccionario

analisis = paneldatos.describe()
print(analisis)

            Año1       Año2       Año3
count   5.000000   5.000000   5.000000
mean   15.200000   6.200000   9.200000
std     7.910436   3.174114   4.751316
min     5.000000   2.000000   3.000000
25%    10.500000   4.500000   6.500000
50%    15.000000   6.000000   9.000000
75%    20.500000   8.500000  12.500000
max    25.000000  10.000000  15.000000

In [ ]:
# Pregunta 5

# Se crearon dos filtros; f1 y f2, las cuales nos sirven para filtrar los datos a la manera que nosostros queramos.

f1 = paneldatos[paneldatos["Año1"] > 10]
f2 = paneldatos[paneldatos["Año2"] < 10]

print(f1)
print(f2)

   Año1  Año2  Año3
1  10.5   4.5   6.5
2  15.0   6.0   9.0
3  20.5   8.5  12.5
4  25.0  10.0  15.0
   Año1  Año2  Año3
0   5.0   2.0   3.0
1  10.5   4.5   6.5
2  15.0   6.0   9.0
3  20.5   8.5  12.5