#Ventas de Franquicias de Chipotle en los ultimos 10 a単os (representados en millones de dolares)

In [3]:
Ventas= {
 "Brazil": [5,8,9,4,7,12,6,8,12,11,] ,
 "Mexico": [5,7,6,9,2,13,5,7,15,9,],
    "USA": [7,8,9,3,9,15,11,6,15,13,],
    "Canada": [6,7,2,4,6,18,5,9,13,14,],
    "China": [5,8,7,3,9,12,8,3,15,14,],
    "Francia": [5,2,9,6,7,12,9,8,12,11,],
    "Colombia": [8,8,9,4,17,12,16,8,12,11,],
    "Espa単a": [15,18,6,8,9,12,5,18,12,11,],
    "Australia": [9,5,19,14,17,12,6,5,13,21,],
    "Alemania": [2,4,9,4,7,3,5,9,15,19,],
}

In [4]:
 import pandas as pd

In [5]:
Franquicias =  pd.DataFrame(Ventas)

In [6]:
Franquicias

,Brazil,Mexico,USA,Canada,China,Francia,Colombia,Espa単a,Australia,Alemania
0,5,5,7,6,5,5,8,15,9,2
1,8,7,8,7,8,2,8,18,5,4
2,9,6,9,2,7,9,9,6,19,9
3,4,9,3,4,3,6,4,8,14,4
4,7,2,9,6,9,7,17,9,17,7
5,12,13,15,18,12,12,12,12,12,3
6,6,5,11,5,8,9,16,5,6,5
7,8,7,6,9,3,8,8,18,5,9
8,12,15,15,13,15,12,12,12,13,15
9,11,9,13,14,14,11,11,11,21,19